<?xml version="1.0"?>
<ruleset name="Nonce Coding Standards" namespace="Pskli\MountainConqueror">
	<description>Coding standard for Mountain Conqueror theme</description>

	<!--###########################
		Folders to scan
	############################-->
	<file>inc</file>
	<file>parts</file>
	<exclude-pattern>inc/dummy-data/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>

	<!--###########################
		Set of rules to use
	############################-->
	<rule ref="WordPress" />

	<!--###########################
		Modifications
	############################-->
	<!-- Adapt to be able to use namespaced hooks in dot notation such as "multilingualpress.active_taxonomies". -->
	<rule ref="WordPress.NamingConventions.ValidHookName">
		<properties>
			<property name="additionalWordDelimiters" value="." />
		</properties>
	</rule>

	<!--###########################
		Exceptions
	############################-->
	<rule ref="WordPress">
		<exclude name="Squiz.Commenting" />
	</rule>
	
	 <rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>*</exclude-pattern>
	</rule>
</ruleset>